server {
    listen ${PROXY_PORT};

    location /api/ {
        if ($uri = /api/messages/latest) {
            add_header Access-Control-Allow-Origin *;
        }

        proxy_pass http://${WEBAPP_HOSTNAME}:${WEBAPP_PORT}/;
    }

    location /slack/ {
        proxy_pass http://${BOT_HOSTNAME}:${BOT_PORT}/slack/;
    }

    location / {
        proxy_pass http://${FRONT_HOSTNAME}:${FRONT_PORT};
    }
}
