server {
    listen ${PROXY_PORT};

    location /api/ {
        proxy_pass http://${WEBAPP_HOSTNAME}:${WEBAPP_PORT}/;
    }

    location /slack/events {
        proxy_pass http://${BOT_HOSTNAME}:${BOT_PORT}/slack/events;
    }

    location / {
        proxy_pass http://${FRONT_HOSTNAME}:${FRONT_PORT};
    }
}
